[mp-createEditGallery].wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 5px;
}

[mp-createEditGallery] .img_wrapper {
    position: relative;
    margin: 5px;
}

[mp-createEditGallery] .img_wrapper .img_overlay {
    opacity: 0.5;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0);
}

[mp-createEditGallery] .img_wrapper .img_overlay.opaque {
    background: rgba(255, 255, 255, 1);
}

[mp-createEditGallery] .img_wrapper img {
    width: 200px;   
}

[mp-createEditGallery] .img_overlay .icon_del {
    background: rgba(255, 255, 255, 1);
    background-image: url("/img/ic_delete_black_24px.svg");
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    opacity: 0.5;
    border-radius: 0px 0px 2px;
}

[mp-createEditGallery] .img_overlay .icon_del:hover {
    opacity: 1;
}

[mp-createEditGallery] .img_overlay .icon_undo {
    background: rgba(255, 255, 255, 1);
    background-image: url("/img/ic_undo_black_24px.svg");
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    opacity: 0.5;
    border-radius: 0px 0px 2px;
}

[mp-createEditGallery] .img_overlay .icon_undo:hover {
    opacity: 1;
}