.colorPicker {
    padding: 5px;
    position: relative;
}

.colorPicker__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 96px;
    border: none;
}

.colorPicker__palette,
.colorPicker__selected {
    height: 24px;
    width: 25%;
}

.colorPicker__selected {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    border: 1px solid black;
}

.colorPicker__palette:nth-child(1) {
    border: none;
}

.colorPicker__palette:nth-child(2) {
    background-color: transparent;
    border: none;
}

.colorPicker__palette:nth-child(3) {
    background-color: red;
    border: 1px solid black;
}

.colorPicker__palette:nth-child(4) {
    background-color: orange;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.colorPicker__palette:nth-child(5) {
    background-color: yellow;
    border: 1px solid black;
}

.colorPicker__palette:nth-child(6) {
    background-color: green;
    border: 1px solid black;
    border-right: 0;
}

.colorPicker__palette:nth-child(7) {
    background-color: blue;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.colorPicker__palette:nth-child(8) {
    background-color: indigo;
    border-bottom: 1px solid black;
}

.colorPicker__palette:nth-child(9) {
    background-color: violet;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}