.shape-details {
    
    font-family: 'Roboto', sans-serif;

    @mixin title-text {
        font-size: 20px;
        line-height: 23px;
    }

    @mixin description-text {
        font-size: 14px;
        line-height: 16px;
    }

    .modal-content {
        width: 824px;

        border-radius: 0;
    }

    .modal-header {
        @include title-text();

        border: none;
    }

    .modal-body {
        @include description-text();

        border: none;
    }

    .modal-footer {
        font-size: 16px;
        line-height: 19px;

        border: none;
    }

    .shape-details__main-image {

    }

    .shape-details__header-wrapper{
        flex-basis: 0;
        flex-grow: 1;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    #shape-details__image {
        width: 400px;
        height: 225px;
    }

    .shape-details__title {

    }

    .shape-details__params{

    }

    .shape-details__description{

    }

    .shape-details__gallery{

    }

    .shape-details__footer {

    }

    .flex-viewport {
        width: 88.57%;
        margin: 0 auto;        
    }

    .flex-direction-nav {
        a {
            line-height: 40px;
            height: 40px;
        }
    }

    .shapeDetails__child__header {
        @include title-text();

        margin-bottom: 0.5em;
        
        .header__icon {
            display: inline-block;
            height: 30px;

            img {
                height: 100%;
            }
        }

        .header__text {
            margin-left: 10px;
        }
    }

    .shapeDetails__child__description {
        @include description-text();

        text-align: justify;
    }
    
}
