<link href="/components/ShapeImagesEditor/style.css" rel="stylesheet">

<div>
    <div class='js-gallery-wrapper gallery__wrapper'>

    </div>

    <div class='js-uploader dropzone'>
    </div>
</div>

<script src="/components/CreateEditGallery/controller.js"></script>