@import "custom";

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
 #map {
    /* width: 100%; */
    min-height: 500px;
    height: 100%;
  }
  
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;    
  }

.map-block-wrapper {
  height: 100%;
}

.map-block-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  overflow: hidden;
}

.map-block-row > * {
  /* margin: auto;   */
}

.map-block-col-1 {
  flex-grow: 0.5;
  flex-basis: 1%;
  min-width: 60px;
  
  position: relative;

  /* Nice shadow to separate the toolbox from the map */
  box-shadow: 0px -1px 17px #2D2A2A;
  z-index: 1;
}

.map-block-col-2 {
  height: 100%;
  flex-basis: 1%;
  position: relative;
}

.map-block-col-3{
  flex-basis: 1%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;

  /* Nice shadow to separate the menu area from the map */
  box-shadow: 0px 1px 17px #2D2A2A;
  z-index: 1;

  /* Show scrollbar only when needed */
  overflow: auto;
}

.button {
  float: left;
  margin: 5px 10px;
  padding: 5px;
  border-radius: 2px;
  background-color: #fff
}

.button:hover {
  background-color: $main-semi;
}

.button.selected {
  background-color: $brand-primary;
  box-shadow: none;
}

.map-context-menu {
  position: absolute;
  background: white;
  padding: 3px;
  color: #666;
  font-weight: bold;
  border: 1px solid #999;
  font-family: sans-serif;
  font-size: 12px;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, .3);
  margin-top: -10px;
  margin-left: 10px;
  cursor: pointer;
}

.map-context-menu__item:hover {
  background: #eee;
}

.toolbox-wrapper {
  float: left;
}

.createEditMenu {
  width: 100%;
  padding: 5px;
}

.createEditMenu.invisible {
  /* MDB .invisible class won't set display to none - that means that element still holds it's place */
  display: none;
}

.createEditMenu label {
  display: block;
  float: left;
  width: 100%;
}

.createEditMenu input,
.createEditMenu textarea {
  width: 100%;
  box-sizing: border-box;
}

.editMenu__colorsWrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.editMenu__colorsWrapper > .colorsWrapper__color {
  height: 48px;
  width: 48px;
}

.editMenu__colorsWrapper > .colorsWrapper__color:nth-child(1) {
  background-color: red;
}

.editMenu__colorsWrapper > .colorsWrapper__color:nth-child(2) {
  background-color: orange;
}

.editMenu__colorsWrapper > .colorsWrapper__color:nth-child(3) {
  background-color: yellow;
}

.editMenu__colorsWrapper > .colorsWrapper__color:nth-child(4) {
  background-color: green;
}

.editMenu__colorsWrapper > .colorsWrapper__color:nth-child(5) {
  background-color: blue;
}

.editMenu__colorsWrapper > .colorsWrapper__color:nth-child(6) {
  background-color: indigo;
}

.editMenu__colorsWrapper > .colorsWrapper__color:nth-child(7) {
  background-color: violet;
}

.animateOpeningDecrease {
  animation-duration: 0.5s;
  animation-name: widthDecrease2;
  animation-fill-mode: forwards;
}

.animateOpeningIncrease {
  animation-duration: 0.5s;
  animation-name: widthIncrease3;
  animation-fill-mode: forwards;
}

.animateClosingDecrease {
  animation-duration: 0.5s;
  animation-name: widthDecrease3;
  animation-fill-mode: forwards;
}

.animateClosingIncrease {
  animation-duration: 0.5s;
  animation-name: widthIncrease2;
  animation-fill-mode: forwards;
}

.flex-10 {
  flex-grow: 10;
}

.flex-15 {
  flex-grow: 15;
}

.flex-5 {
  flex-grow: 5;
  /* position:relative makes inner overlay work fine */
  position: relative;
}

.flex-0 {
  flex-basis: 0;
  min-width: 0;
  
}

@keyframes widthDecrease2 {
  from {
    flex-grow: 15;
  }

  to {
    flex-grow: 10;
  }
}

@keyframes widthIncrease3 {
  from {
    flex-grow: 0;
  }

  to {
    flex-grow: 5;  
  }
}

@keyframes widthDecrease3 {
  from {
    flex-grow: 5;
  }

  to {
    flex-grow: 0;
  }
}

@keyframes widthIncrease2 {
  from {
    flex-grow: 10;
  }

  to {
    flex-grow: 15;  
  }
}

.createMenu__buttons__wrapper > button:nth-child(1) {
  float: left;
  margin-left: 20%;
}

.createMenu__buttons__wrapper > button:nth-child(2) {
  float: right;
  margin-right: 20%;
}

/*********/
/* DROPZONE Customizations*/
.dz-progress {
  display: none !important;
}
/*********/

#descriptionWrapper {
  display: block;
  float: left;
  width: 100%;
}

.loader-overlay {
  z-index: 10;
  background-color:rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
  position: absolute;
}

.loader-overlay.invisible {
  width: 0;
}

.loader-overlay .progress {
  height: 20px;
  border-radius: 0px;
  top: 50%;
  width: 80%;
  margin-left: 10%;
}

.progress .progress-bar {
  height: auto;
}

.shape_length {
  position: relative;
  width: 100%;
}

.btn {
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}